<div fxLayout="column" class="report">
  <div fxLayout="row" fxLayoutAlign="center center">
    <b><u><h1 style="font-family:'raleway'">Goodread Recommender System</h1></u></b>
    <br>  
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="left center" fxLayoutGap="3.33%">
    <!-- <b><u>Objective:</u></b> -->
    <p style="padding-left:110px;padding-right:110px;font-family:'lato'"> Books are still the oldest and best source of knowledge and information.
      In digital age , all books are available on the internet. The problem is to find the needed book and the books which are similar. Looking at the way netflix and many e-commerce websites do such a fabulous work making user
      personalized recommender. Over the years avid readers want more insight ways to explore new books.  
    </p>
    <br>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3.33%">
    <p style="padding-left:40px;font-family:'raleway'"><b><u>FEATURES</u></b></p>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="left center" fxLayoutGap="3.33%">
    <!-- <b><u>Objective:</u></b> -->
    <p style="padding-left:110px;padding-right:110px;font-family:'lato'">1. <b>Search:</b>A user will have the ability to search books available based on every attribute ,right till publisher house.<br>
      2. <b>Classifer :</b> Will infer the genre the text belongs, for the user who are interested in text and semantics analysis.<br>
      3. <b>Recommender :</b>When a used selects any book, we will provide him with recommendation of the similar books.<br><br>
      <b>Dataset :</b><a href="https://sites.google.com/eng.ucsd.edu/ucsdbookgraph/home">Goodreads dataset</a><br><br>
      <b>Similar Application: </b><a href="https://www.forewordreviews.com/">Foreword Reviews</a>,
    </p>
    <br>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3.33%">
    <p style="padding-left:40px;font-family:'raleway'"><b><u>SKETCHES</u></b></p>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3.33%">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="habibi">Search</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/search.jpg" alt="Search">
  </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3.33%">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="habibi">Classifer</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/classi.jpg" alt="Search">
  </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3.33%">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="habibi">Recommender</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/recommend.jpg" alt="Search">
  </mat-card>
  </div>
</div>